parameters:
    blade-fx.api.root_url: '%env(BLADEFX_API_ROOT_URL)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Xiphias\Bundle\PimcoreBladeFx\Controller\:
        resource: '../../Controller'
        public: true
        autowire: true
        autoconfigure: true
        tags: [ 'controller.service_arguments' ]

    Xiphias\Bundle\PimcoreBladeFx\Controller\ConfigController:
        arguments:
            $bladeFxRootUrl: '%blade-fx.api.root_url%'
            $gridBuilder: '@Xiphias\Bundle\PimcoreBladeFx\Service\Builder\GridBuilderInterface'

    Xiphias\BladeFxApi\:
        resource: '%kernel.project_dir%/vendor/xiphias/bladefx-api-php/src/*'
        exclude: '%kernel.project_dir%/vendor/xiphias/bladefx-api-php/src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'
        autowire: true
        autoconfigure: true

    Xiphias\BladeFxApi\Response\ResponseManagerInterface:
        alias: Xiphias\BladeFxApi\Response\ResponseManager

    Xiphias\BladeFxApi\Response\ResponseFactoryInterface:
        alias: Xiphias\BladeFxApi\Response\ResponseFactory

    Xiphias\Bundle\PimcoreBladeFx\Service\Builder\:
        resource: '../../Service/Builder'
        autowire: true
        autoconfigure: true
